<div class="card mb-5">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 d-flex align-self-center col-3">
                <img src="/assets/images/products/fruit-n-veg/apple.jpg" class="im  g-fluid" alt="">
            </div>
            <div class="col-md-10 col-9 d-flex flex-column">
                <h5>Apple - Washigton, Regular, 4 pcs</h5>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-self-center">
                        <button class="btn  rounded-circle">+</button>
                        <span class="mx-2">1</span>
                        <button class="rounded-circle btn ">-</button>
                        <i (click)="productClicked.emit()" class="fa fa-times ml-3" aria-hidden="true"></i>

                        <span class="pl-3">Rs. 156</span>
                    </div>
                    <span>Rs. 156</span>
                </div>
            </div>
        </div>
    </div>
  </div>